/* line 1, ../../../app/stylesheets/admin.scss */
div.rapidxwpr {
  background: url("../../images/wrapper-bg.png") no-repeat scroll 0 0 transparent;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

/* line 8, ../../../app/stylesheets/admin.scss */
div#main {
  width: auto;
  background: url(../../images/content-top-big.jpg) 0 50px no-repeat;
  margin: 0px -10px 0px 125px;
  padding: 99px 0 0 0;
  z-index: 100;
  top: -35px;
  position: relative;
  width: 800px;
}

/* line 19, ../../../app/stylesheets/admin.scss */
div#main_container {
  background: url(../../images/content-bottom-big.jpg) 0 100% no-repeat;
  padding: 0 0 53px 0;
  text-align: left;
  width: 800px;
}

/* line 26, ../../../app/stylesheets/admin.scss */
div#mainmiddle {
  margin: 0px 0px 0px 0px;
  background: url(../../images/content-bg-big.jpg) 0 0 repeat-y;
  padding: 0px 160px 0 55px;
  width: 710px;
}

/* line 33, ../../../app/stylesheets/admin.scss */
.dashboard_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: -50px;
  margin-bottom: 10px;
}

/* line 41, ../../../app/stylesheets/admin.scss */
.dashboard_title .sub_title {
  background: none repeat scroll 0 0 DarkSalmon;
  padding: 5px 8px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 48, ../../../app/stylesheets/admin.scss */
.sub_heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 0 1px 0 white, 0 0px 0 black;
  margin: 10px 0px;
}

/* line 56, ../../../app/stylesheets/admin.scss */
#drafts {
  width: 685px;
}

/* line 60, ../../../app/stylesheets/admin.scss */
table#drafts thead tr td {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* line 66, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td {
  font-size: 10px;
  text-align: center;
  overflow: hidden;
}

/* line 72, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.time {
  width: 90px;
}

/* line 76, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.paadal {
  width: 180px;
}

/* line 80, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.user {
  width: 80px;
}

/* line 84, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.view {
  width: 60px;
}

/* line 88, ../../../app/stylesheets/admin.scss */
img.review {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

/* line 94, ../../../app/stylesheets/admin.scss */
#differ {
  background: none repeat scroll 0 0 #FFFBD0;
  margin-bottom: 5px;
  padding: 0 5px;
  width: 672px;
}

/* line 101, ../../../app/stylesheets/admin.scss */
del.differ {
  color: #CC0000;
}

/* line 105, ../../../app/stylesheets/admin.scss */
ins.differ {
  color: #000080;
}

/* line 109, ../../../app/stylesheets/admin.scss */
input[type='text'] {
  margin-bottom: 15px;
  width: 677px;
}

/* line 114, ../../../app/stylesheets/admin.scss */
textarea {
  padding: 3px;
  width: 674px;
  display: block;
}

/* line 120, ../../../app/stylesheets/admin.scss */
div.error {
  background: url("../../images/error.png") no-repeat scroll 4px 6px #e9967a;
  margin-right: 20px;
  padding: 5px 5px 5px 39px;
  width: 642px;
}

/* line 127, ../../../app/stylesheets/admin.scss */
span.alert {
  background: url(../../images/alert.png) no-repeat scroll 4px 2px #e9967a;
  padding: 5px 5px 5px 32px;
  width: auto;
  margin-right: 20px;
}
