/* line 1, ../../../app/stylesheets/admin.scss */
.dashboard_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* line 8, ../../../app/stylesheets/admin.scss */
.dashboard_title .sub_title {
  background: none repeat scroll 0 0 DarkSalmon;
  padding: 5px 8px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 15, ../../../app/stylesheets/admin.scss */
#drafts {
  width: 550px;
}

/* line 19, ../../../app/stylesheets/admin.scss */
table#drafts thead tr td {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* line 25, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td {
  font-size: 12px;
  text-align: center;
  overflow: hidden;
}

/* line 31, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.time {
  width: 90px;
}

/* line 35, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.paadal {
  width: 180px;
}

/* line 39, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.user {
  width: 80px;
}

/* line 43, ../../../app/stylesheets/admin.scss */
table#drafts tbody tr td.view {
  width: 60px;
}

/* line 47, ../../../app/stylesheets/admin.scss */
img.review {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

/* line 53, ../../../app/stylesheets/admin.scss */
screinput[type='text'] {
  margin-bottom: 15px;
  width: 677px;
  background: #FFFBD0;
}

/* line 59, ../../../app/stylesheets/admin.scss */
textarea {
  padding: 3px;
  width: 545px;
  display: block;
  background: #FFFBD0;
}

/* line 66, ../../../app/stylesheets/admin.scss */
div.error {
  background: url("../../images/error.png") no-repeat scroll 4px 6px #e9967a;
  margin-right: 20px;
  padding: 5px 5px 5px 39px;
  width: 642px;
}

/* line 73, ../../../app/stylesheets/admin.scss */
span.alert {
  background: url(../../images/alert.png) no-repeat scroll 4px 2px #e9967a;
  padding: 5px 5px 5px 32px;
  width: auto;
  margin-right: 20px;
}

/* line 80, ../../../app/stylesheets/admin.scss */
p.wiki_revision_attribute {
  margin: 15px 0px;
}

/* line 84, ../../../app/stylesheets/admin.scss */
.revision_user_info {
  height: 82px;
  border: 1px solid;
  margin-right: 18px;
  margin-top: 6px;
  padding: 0 5px;
  background: AntiqueWhite;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 95, ../../../app/stylesheets/admin.scss */
#differ {
  background: none repeat scroll 0 0 #FFFF00;
  margin-bottom: 5px;
  padding: 0 5px;
  width: 545px;
}

/* line 102, ../../../app/stylesheets/admin.scss */
.wiki_container {
  margin-right: 25px;
}
