%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      தமிழ் அன்பரே,
    %p
      வணக்கம்.
    %p
      தாம் எமது இணைய தளத்தில் தங்களை இணைத்துக்கொண்டதற்கு மிக்க நன்றி. தங்களின் இந்த நற்செயலுக்கு தமிழ்ப் பற்றே தூண்டுகோல் என்பதை நாங்கள் நன்கறிவோம். அந்தப் பற்றுக்கு பசியாற்றுவது எமது முதற்கடமை என்பதை இத்தருணத்தில் தங்களுக்கு பணிவன்புடன் தெரிவித்துக்கொள்கிறோம்.
    %p
      எங்கள் இணைய தளத்தின் சேவைகளைப் பற்றி அறிய, "இணைய தளத்தைப் பற்றி" என்ற பகுதி தங்களுக்கு உதவும். எங்களின் சேவையில் ஏதேனும் சிறு குறை இருப்பினும் தாங்கள் தயங்காது எங்களுக்கு தெரிவிப்பீராக.
    %p
      தங்களின் ஒவ்வொரு வரவும் நல்வரவாக வாழ்த்துக்கள்.
    %p
      நன்றியுடன்,
      %br
      தளப் பொறுப்பாளர்கள்.
      %br
      = link_to "அறம்செயவிரும்பு.com", root_url
