%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      தமிழ் அன்பரே,
    %p
      வணக்கம்.
    %p
      "
      %b
        = link_to @wiki_version.paadal, wiki_url(@wiki_version.wiki)
      " பகுதியில் தாங்கள் செய்த திருத்தங்கள் தளப் பொறுப்பாளர்களால் ஏற்கப்பட்டது என்பதை மகிழ்ச்சியுடன் தெரிவித்துக்கொள்கிறோம்.
    %p
      தங்களின் தமிழ் சேவைக்கு நன்றி. இந்த சேவையின் தேவை அறிந்ததின் மூலம் நாம் ஒரே நோக்கத்தோடு பயணிக்கின்றோம். தங்களின் ஆதரவுடன் தொடர்ந்து பயணிப்பதில் எங்களுக்கு மட்டற்ற மகிழ்ச்சியே.
    %p
      நன்றியுடன்,
      %br
      தளப் பொறுப்பாளர்கள்.
      %br
      = link_to "அறம்செயவிரும்பு.com", root_url

