div.rapidxwpr{
    background: url("../../images/wrapper-bg.png") no-repeat scroll 0 0 transparent;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

div#main {
    width:auto;
    background:url(../../images/content-top-big.jpg) 0 50px no-repeat;
    margin:0px -10px 0px 125px;
    padding:99px 0 0 0;
    z-index:100;
    top: -35px;
    position:relative;
    width: 800px;
}

div#main_container {
    background:url(../../images/content-bottom-big.jpg) 0 100% no-repeat;
    padding:0 0 53px 0;
    text-align: left;
    width: 800px;
}

div#mainmiddle {
    margin:0px 0px 0px 0px;
    background:url(../../images/content-bg-big.jpg) 0 0 repeat-y;
    padding:0px 160px 0 55px;
    width: 710px;
}

.dashboard_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: -50px;
    margin-bottom: 10px;
}

.dashboard_title .sub_title{
   background: none repeat scroll 0 0 DarkSalmon;
   padding: 5px 8px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.sub_heading{
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    text-shadow: 0 1px 0 white, 0 0px 0 black;
    margin: 10px 0px;
}

#drafts{
    width: 685px;
}

table#drafts thead tr td {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

table#drafts tbody tr td {
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}

table#drafts tbody tr td.time {
    width: 90px;
}

table#drafts tbody tr td.paadal {
    width: 180px;
}

table#drafts tbody tr td.user {
    width: 80px;
}

table#drafts tbody tr td.view {
    width: 60px;
}

img.review{
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

#differ{
    background: none repeat scroll 0 0 #FFFF00;
    margin-bottom: 5px;
    padding: 0 5px;
    width: 672px;
}

del.differ{
    color: #CC0000;
}

ins.differ{
    color: #000080;
}

input[type='text'] {
    margin-bottom: 15px;
    width: 677px;
    background: #FFFBD0;
}

textarea{
    padding: 3px;
    width: 674px;
    display: block;
    background: #FFFBD0;
}

div.error{
    background: url("../../images/error.png") no-repeat scroll 4px 6px #E9967A;
    margin-right: 20px;
    padding: 5px 5px 5px 39px;
    width: 642px;
}

span.alert {
	background: url(../../images/alert.png) no-repeat scroll 4px 2px #e9967a;
    padding: 5px 5px 5px 32px;
    width: auto;
    margin-right: 20px;
}

p.wiki_revision_attribute{
    margin: 15px 0px;
}

.revision_user_info {
    border: 1px solid;
    margin-right: 18px;
    margin-top: 6px;
    padding: 0 5px;
    background: AntiqueWhite;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.profile_photo{
    background: none repeat scroll 0 0 cyan;
    border: 2px solid red;
    height: 64px;
    width: 64px;
}

span.photo{
    float:left;
    margin-right: 10px;
}

.user_details{
    margin-top: -7px;
}