/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fancy-buttons";

/* reset */
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td {
    margin:0;
    padding:0;
    line-height:200%;
    font-size: 16px;
    vertical-align: top;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"] {
    margin-bottom: 15px;
    width: 520px;
}

textarea {
    padding: 3px;
}

fieldset,img {
    border:0;
}

html {
    height:100%;
    margin-bottom:1px;
}

body {
    position:relative;
}

:focus {
    outline:none;
}

/* links */
a {
    color:#222;
    text-decoration:none;
    text-shadow: 0px 2px 3px #555;
}

a:hover {
    font-weight: bold;
    /*color:#008cff;*/
    /*text-decoration:underline;*/
}

a:hover h2 {
    font-weight: bold;
    /*color:#008cff;*/
    /*text-decoration:underline;*/
}
/* page setup */

h2, h3 {
  display: inline;
}

h2 {
    font-size: 175%;
}


body {
    background:url(../../images/page_bg.jpg);
    font-family:Arial, Helvetica, sans-serif;
    line-height:140%;
    color:#000;
    font-size:20px;
}

p{
  text-shadow: 0px 2px 3px #555;
}

.prayer{
  text-shadow: 0px 2px 3px #555;
  padding-top: 10px;
}

#logo-container {
  background:url(../../images/content-heading.jpg) 125px 5px no-repeat;
  height: 150px;
  text-align: center;
}

.logo {
  color: #261C1E;
  font-size: 60px;
  text-shadow:ivory 0px 1px 0, white 0 -1px 0;
  position: relative;
  font-weight:bold;
  padding-top: 13px;
}


.heading {
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
  line-height:150%;
  font-size: 35px;
  font-weight:bold;
  color:#98989;
  margin-top: 10px;
}

.side-text{
  margin-left: 10px;
  margin-top: 170px;
  color: linen;
  font-size: 15px;
}


#page{
    text-align: center;
}
/* wrapper setup */
div.rapidxwpr {
    margin-left: auto;
    margin-right: auto;
    width:860px;
    background:url(../../images/wrapper-bg.png) 0 0 no-repeat;
}

/* header */
div#header {
    position:relative;
    height:150px;
    margin:0px 0px 0px 0px;
    z-index: 1000;
}

/* main body setup */
div#middle {
    width:auto;
    margin:0px 0px 0px 0px;
    clear:both;
}

/* left column */
div#left {
    width:222px;
    position:relative;
    z-index:101;
    float:left;
    padding:0px 0px 0px 0px;
}

/* content column */
div#main {
    width:auto;
    background:url(../../images/content-top.jpg) 0 50px no-repeat;
    margin:0px -10px 0px 125px;
    padding:99px 0 0 0;
    z-index:100;
    top: -35px;
    position:relative;
}

div#main_container {
    background:url(../../images/content-bottom.jpg) 0 100% no-repeat;
    padding:0 0 59px 0;
    text-align: left;
}

div#mainmiddle {
    margin:0px 0px 0px 0px;
    background:url(../../images/content-bg.jpg) 0 0 repeat-y;
    padding:0px 160px 0 40px;
}

/* footer */
div#footer {
    margin: 0 180;
    clear:both;
    color:#baac7e;
    text-align:center;
    font-size:12px;
    margin-left: 195px;
}

div#footer a {
    color:#baac7e;
    text-decoration:none;
}

div#footer a:hover {
    text-decoration:underline;
}

.clearingfix:after {
    content:".";
    display:block;
    line-height:0px;
    clear:both;
    visibility:hidden;
}

.clearingfix {
    display:block;
}

.floatbox {
    overflow:hidden;
}

div.menu {
    margin:30px 0 0 0;
}

/* show page */

.paadal {
  font-size: 150%;
}

/*.paadal:first-letter {*/
  /*font-size: 175%;*/
/*}*/

.paadal_english {
  font-family: 'Georgia, Tahoma, Arial';
  font-size: 165%;
}

.hline {
  border-bottom: solid black;
  border-bottom-width: 1px;
  width: 531px;
  padding-top: 2px;
}

hr {
  color: red;
  background-color: red;
  background-image: red;
  margin-right: 15px;
}

.show_heading {
  font-size: 150%;
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
  line-height:150%;
  font-weight:bold;
}

.heading {
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
  line-height:150%;
  font-size: 35px;
  font-weight:bold;
  color:#98989;
}

.desc_container {
  background-color: #c7bb90;
  padding: 5px 5px;
  margin-right: 15px;
}

.container {
  margin-top: 15px;
  background:url(../../images/paper_bg.png);
  margin-right: 15px;
  line-height: 38px !important;
  padding: 5px 4px;
  color: black;
  // text-shadow: black 0px 0.5px 0, #000 0 -0.5px 0; 
}

button {
  @include fancy-button-colors(#261c1e, adjust-hue(#261c1e, -120), darken(adjust-hue(#261c1e, -120), 6));
  cursor: pointer;
}

.save_button {
  @include fancy-button-colors(#261c1e, adjust-hue(#261c1e, -120), darken(adjust-hue(#261c1e, -120), 6));
  margin: 10px 21px 0px 0px;
  float: right;
  padding: 1px 5px;
  cursor: pointer;
}

.float_right{
  float: right;
}

.margin_right_10{
  margin-right: 10px;
}

.margin_top_10 {
  margin-top: 10px;
}

.inline {
  display: inline;
}

.edit_button {
  float: right;
  margin-right: 21px;
  margin-top: -8px;

}

.back_button {
    background: url(../../images/back.png) 1px no-repeat;
    float: left;
    padding-left: 30px;
}

button a {
    color: white;
}

button a:hover {
    font-weight: normal;
}

div.notice {
	background: #e9967a;
    padding: 5px;
    width: 50%;
    display: inline;
}

.tooltip {
	display:none;
	background:transparent url(/tools/img/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;
}