/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "fancy-buttons";

/* reset */
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td {
  margin:0;
  font-size: 14px;
  vertical-align: top;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"] {
  margin-bottom: 15px;
  width: 545px;
  background: ivory;
}

textarea {
  padding: 3px;
  background: ivory;
  width: 543px;
  height: 300px;
  margin-bottom: 10px;
}

fieldset,img {
  border:0;
}

html {
  height:100%;
  margin-bottom:1px;
}

body {
  position:relative;
}

:focus {
  outline:none;
}

/* links */
a {
  color: black;
  text-decoration:none;
  text-shadow: 0px 2px 3px #555;
}

.logo {
  color: black;
  text-decoration:none;
  text-shadow: 0px 2px 3px #555;
}

a:hover {
  font-weight: bold;
  /*color:#008cff;*/
  /*text-decoration:underline;*/
}

a:hover h2 {
  font-weight: bold;
}


a:hover .h2 {
  font-weight: bold;
}
/* page setup */

h2, h3 {
  display: inline;
}

h2, .h2 {
  font-size: 175%;
  font-weight: bold;
}


body {
  background:url(../../images/page_bg.jpg);
  font-family:Arial, Helvetica, sans-serif;
  line-height:140%;
  color:#000;
  font-size:20px;
  height: 100%;
}

p{
  text-shadow: 0px 2px 3px #555;
}

.prayer{
  text-shadow: 0px 2px 3px #555;
}

#logo-container {
  background:url(../../images/content-heading_with_title.jpg) 5px 5px no-repeat;
  height: 191px;
  text-align: center;
  margin-left: 50px;
}

.logo {
  position: relative;
  padding-top: 30px;
  width: 81%;
}

#title {
  color: #261C1E;
  font-size: 30px;
  text-shadow:ivory 0px 1px 0, white 0 -1px 0;
  font-weight:bold;
}

.heading {
  display: block;
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
  margin-top: 10px;
  text-shadow: 0 1px 0 white, 0 -1px 0 black;
}

.side-text{
  margin-left: 10px;
  margin-top: 170px;
  color: linen;
  font-size: 15px;
}


#page{
  text-align: center;
}
/* wrapper setup */
div.rapidxwpr {
  margin-left: auto;
  margin-right: auto;
  width:760px;
  background:url(../../images/wrapper-bg.png) 0 0 no-repeat;
}

/* header */
div#header {
  position:relative;
  height:150px;
  margin:0px 0px 0px 0px;
  z-index: 1000;
}

/* main body setup */
div#middle {
  width:auto;
  margin:0px 0px 0px 0px;
  clear:both;
}

/* left column */
div#left {
  width:222px;
  position:relative;
  z-index:101;
  float:left;
  padding:0px 0px 0px 0px;
}

/* content column */
div#main {
  width:auto;
  background:url(../../images/content-top-big.jpg) 0 50px no-repeat;
  margin:0px -10px 0px 55px;
  padding: 99px 0 0 0;
  z-index:100;
  top: -36px;
  position:relative;
}

div#main_container {
  text-align: left;
}

div#mainmiddle {
  margin:0px 0px 0px 0px;
  background:url(../../images/content-bg-big.jpg) 0 0 repeat-y;
  padding:0px 160px 0 50px;
  width: 550px;
}

div#mainbottom{
  background:url(../../images/content-bottom-big.jpg) 0 0 no-repeat;
  padding:0 0 53px 0;
}

/* footer */
div#footer {
  margin-top: -10px;
  padding-bottom: 10px;
  clear:both;
  color:#baac7e;
  text-align:center;
  font-size:15px;
}

div#footer a {
  color:#baac7e;
  text-decoration:none;
}

div#footer a:hover {
  text-decoration:underline;
}

.clearingfix:after {
  content:".";
  display:block;
  line-height:0px;
  clear:both;
  visibility:hidden;
}

.clearingfix {
  display:block;
}

.floatbox {
  overflow:hidden;
}

div.menu {
  margin:30px 0 0 0;
}

/* show page */

.paadal {
  font-size: 150%;
  margin-top: -40px;
}

.paadal_english {
  font-family: 'Georgia, Tahoma, Arial';
  font-size: 165%;
}

.hline {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  margin-right: 18px;
  padding-top: 3px;
  width: auto;
}

hr {
  color: red;
  background-color: red;
  background-image: red;
  margin-right: 15px;
}

.show_heading {
  font-size: 150%;
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
  line-height:150%;
  font-weight:bold;
}

.heading {
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
  line-height:150%;
  font-size: 35px;
  font-weight:bold;
  color:#98989;
}

.desc_container {
  background: url('../../images/desc_strip.jpg') no-repeat;
  padding-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.container {
  margin-top: 15px;
  background:url(../../images/paper_bg.png);
  margin-right: 15px;
  line-height: 38px !important;
  padding: 5px 4px;
  color: black;
  // text-shadow: black 0px 0.5px 0, #000 0 -0.5px 0; 
}

.fancy_button {
  @include fancy-button-colors(#261c1e, adjust-hue(#261c1e, -120), darken(adjust-hue(#261c1e, -120), 6));
  cursor: pointer;
}

.save_button {
  @include fancy-button(#ff11ff, 15px, 5px, 2px);
  margin: 10px 21px 0px 0px;
  font-size: 12px;
  float: right;
  padding: 1px 5px;
  cursor: pointer;
  color: black;
}

.reject_button {
  @include fancy-button(#990033, 15px, 5px, 2px);
  margin: 10px 21px 0px 0px;
  font-size: 12px;
  float: right;
  padding: 1px 5px;
  cursor: pointer;
}


.float_right{
  float: right;
}

.margin_right_10{
  margin-right: 10px;
}

.margin_top_10 {
  margin-top: 10px;
}

.inline {
  display: inline;
}

.action_button {
  float: right;
  margin-right: 21px;
  margin-top: -8px;
}

.history_button {
  float: right;
  margin-right: 21px;
  margin-top: -2px;
}

img.history{
  margin-top: 4px;
  width: 61px;
}

.back_button {
  background: url(../../images/back.png) 1px no-repeat;
  float: left;
  padding-left: 30px;
}

.fancy_button a {
    color: white;
}

.fancy_button a:hover {
    font-weight: normal;
}

div.notice {
  background: url("../../images/success.png") no-repeat scroll 4px 9px #E9967A;
  margin-right: 20px;
  padding: 5px 5px 5px 32px;
  width: auto;
}

div.alert {
  background: url(../../images/alert.png) no-repeat scroll 4px 9px #e9967a;
  padding: 5px 5px 5px 32px;
  width: auto;
  margin-right: 20px;
}

div.error {
  background: url("../../images/error.png") no-repeat scroll 4px 6px #E9967A;
  margin-right: 20px;
  padding: 5px 5px 5px 39px;
  width: auto;
}


.tooltip {
  display:none;
  background:transparent url(/tools/img/tooltip/black_arrow.png);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:#fff;
}

#sign_in {
  float: right;
  font-weight: bold;
  margin-right: 135px;
  margin-top: -10px;
}

#sign_in a{
  z-index: 1000;
}

.logo ul {
  margin-left: -36px;
  margin-top: 87px;
  text-align: center;
  width: 654px;

}

.logo ul li{
  font-weight: bold;
  display: inline;
  margin-right: 3px;
  cursor: pointer;
}

.hand_cursor {
  cursor: pointer;
}

.logo ul li img{
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

#mugavurai_content {
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
  background: url(../../images/mugavurai.jpg) repeat-y;
  padding: 10px !important;
}

#mugavurai_content p {
  padding: 10px 10px;
  text-shadow: none !important;
}

#mugavurai_content p span.lead{
  display: inline;
  font-size: 45px;
}

#about_site_content p span.lead{
  display: inline;
  font-size: 25px;
}

#about_site_content {
  font-size: 14px;
  text-align: justify;
  background: url(../../images/about-site.jpg) repeat-y;
  padding: 40px 12px 10px 12px;
}

#about_site_content p {
}

#about_site_content img {
  display: block;
}


.login_container{
  text-align: center;
  padding-right: 20px;
}

img.edit {
  width: 52px;
  margin-top: 9px;
}

img.home{
  width: 32px;
  margin-right: -8px;
  vertical-align: middle;
}


.wiki_container{
  margin-bottom: 15px;
  margin-top: 18px;
  width: auto;
}


.home_link{
  margin-top: 8px;
}

.clear{
  clear: both;
}

img.loading{
  margin-top: 5px;
  margin-left: 12.5px;
  width: 48px;
}

img.line_loading{
  margin-left: 4.5px;
  margin-top: 2px;
  width: 36px;
}

.history_info {
  border: 1px solid;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 5px;
  background: AntiqueWhite;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.history_data p{
  font-size: 13px;
  text-shadow: 0 1px 0 white, 0 0px 0 black;
  margin: 10px 0px;
  line-height: 100%;
}

.history_sub_heading{
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 0 1px 0 white, 0 0px 0 black;
  margin: 10px 0px;
}

span.history_time{
  background: url("../../images/embed/bullet.png") no-repeat scroll 0 0 transparent;
  padding-left: 19px;
}

span.history_user{
  background: url("../../images/embed/history_user.png") no-repeat scroll 0 0 transparent;
  padding-left: 19px;
}

span.history_diff{
  background: url("../../images/embed/history_diff.png") no-repeat scroll 0 0 transparent;
  padding-left: 19px;
  text-decoration: underline;
}

span.first_version{
  background: url("../../images/embed/first_version.png") no-repeat scroll 0 0 transparent;
  padding-left: 19px;
}

#differ{
  background: none repeat scroll 0 0 #11FF99;
  margin-bottom: 5px;
  padding: 0 5px;
  width: 645px;
}

del.differ{
  color: #CC0000;
}

ins.differ{
  color: #000080;
}

.revision_user_info {
  border: 1px solid;
  margin-right: 18px;
  margin-top: 6px;
  padding: 0 5px;
  background: AntiqueWhite;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.profile_photo{
  background: none repeat scroll 0 0 cyan;
  border: 2px solid #ffefd5;
  height: 64px;
  width: 64px;
}

span.photo{
  float:left;
  margin-right: 10px;
}

.user_details{
  margin-left: -45px;
  margin-top: 5px;
  line-height: 125%;
}

.user_details ul, .user_details li{
  list-style: none;
}

.sub_heading{
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 0 1px 0 white, 0 0px 0 black;
  margin: 10px 0px;
}

.home_link {
  margin-top: 10px;
}

#versions_diff_container{
  text-align: left;
  padding: 15px;
  background: url('../../images/diff-back.jpg') no-repeat;
}

img.keyboard{
  height: 32px;
  width: 48px;
  padding-top: 5px;
}

#keyboard{
  background: url("../../images/keyboard.png") no-repeat scroll 4px -8px transparent;
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 8px;
}

.left{
  float: left
}

.right{
  float: right;
}

.blue{
  color: blue;
}

#left_pane{
  float: left;
  height: 300px;
  margin-left: -213px;
  margin-top: -94px;
  padding: 48px 0 0;
  width: 213px;
}

span.title_photo {
  margin-right: 10px;
}

img.title_profile_photo {
  background: none repeat scroll 0 0 cyan;
  border: 2px solid red;
  height: 64px;
  width: 65px;
}

#user_details{
  height: 214px;
  margin-left: -48px;
  padding-left: 6px;
  width: 300px;
  line-height: 100%;
  padding-top: 20px;
  color: ivory;
}

.welcome{
  color: gold;
  font-size: 15px;
  line-height: 125%;
  margin-left: 48px;
  margin-top: 13px;
  width: 209px;
}

.share_text{
    color: ivory;
    font-size: 12px;
    margin-left: 28px;
}

#wiki_tamil_long_desc {
    border: none;
    white-space: wrap;
    overflow-y:  scroll;
    overflow-x:  hidden;
}

.paadal_title{
  font-size: 150%;
  margin-bottom: 0px;
}

#preview_container{
  border: 2px dotted black;
  max-height: 450px;
  overflow: auto;
  padding: 0 5px 5px;
}

#preview_container p{
  text-shadow: none !important;
}

blockquote {
  background-color: #EEEEEE;
  padding-left: 10px;
  padding-right: 10px;
}

#left_pane img{
  margin-right: -10px;
}

img.back_to_show{
  width: 26px;
  height: 26px;
  margin-top: 16px;
}

#comments_form{
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
  background: url(../../images/contact_us.jpg) repeat-y;
  padding: 15px !important;
}

img.hand{
  height: 24px;
  margin-right: 2px !important;
  vertical-align: middle;
  width: 24px;
} 

/* diff styling */
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:yellow; color:#080}
.diff li.del{background:BurlyWood; color:#b00}
/*.diff li:hover{background:#ffc}*/
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff ins strong{font-weight:normal;background:#fcc;}
.diff del strong{font-weight:normal;background:#9f9;text-decoration: line-through;}

