.history_info#history_info
  .history_sub_heading.left காலவரிசைப்படி இந்த பாடலுக்கான மேம்பாடுகள் இதுவரை...
  .right.close_button.hand_cursor
    %img{:src => '/images/close.png'}
  .history_data.clear
    - @wiki_versions.each do |wiki_version|
      %p
        %span.history_time ##{wiki_version.version}
        = l wiki_version.created_at, :format => :long
        |
        %span.history_user= wiki_version.user.name || wiki_version.user.email
        |
        - if wiki_version.version == 1
          %span.first_version முதல் வடிவுறு
        - else
          %a.versions_diff.hand_cursor{:url => wiki_version_diff_path(wiki_version)}
            %span.history_diff வேற்றுமைகள்

#versions_diff_container.hidden{:title => 'வேற்றுமைகள்'}
