.history_info
  .history_sub_heading காலவரிசைப்படி இந்த பாடலுக்கான திருத்தங்கள் இதுவரை...
  .history_data
    - @wiki_versions.each do |wiki_version|
      %p
        %span.history_time= l wiki_version.created_at, :format => :long
        |
        %span.history_user= wiki_version.user.name || wiki_version.user.email
        |
        %span.history_diff வேற்றுமைகள்