%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      தமிழ் அன்பரே,
    %p
      வணக்கம்.
    %p
      கீழ்கண்ட பகுதி திருத்தப்பட்டு தங்களின் ஒப்புதலுக்காக சமர்ப்பிக்கப்பட்டுள்ளது.
    %p
      திருத்தியவர்: #{@wiki_version.user.display_name}
      %br
      திருத்திய பாடல்: #{@wiki_version.paadal}
    %p
      திருத்தங்கள் ஏற்புடையதாயின் தங்களது ஒப்புதலையும், அல்லது மறுதலிக்க வேண்டின் உரிய காரணங்களையும் தளத்தில் பதிவு செய்யுமாறு கேட்டுக்கொள்கிறோம்.
    %p
      மாற்றங்களை காண இந்த
      =link_to "இணைப்பை ", admin_review_wiki_url(@wiki_version)
      அழுத்தவும்.
    %p
      தங்கள் ஒத்துழைப்பிற்கு நன்றி.
    %p
      நன்றியுடன்,
      %br
      தளப் பொறுப்பாளர்கள்.
      %br
      = link_to "அறம்செயவிரும்பு.com", root_url