.hidden#about_site_content{:title => 'இந்த இணைய தளத்தைப் பற்றி...'}
  %p
    <span class='lead'>'அறம் செய விரும்பு'</span> என்ற ஆத்தி்சூடியின் முதல் வரியை தன் முகவரியாகக் கொண்ட நம் இணைய தளம், ஆத்தி்சூடியையே அடித்தளமாகக் கொண்டு உலகம் முழுதுமுள்ள தமிழ் ஆர்வலர்களை  இணைக்கும் இன்னொரு கருவியாகத் திகழும் என்பதில் எங்களுக்கு மிகவும் மகிழ்ச்சியே. இதற்கு பெரிதும் உறுதுணையாக விளங்குவது இந்த இணைய தளத்தின் வடிவமைப்பேயாகும்.
  %p
    <img src='/images/process.png' />
    இந்த இணைய தளத்தின் வடிவமைப்பை தமிழ் ஆர்வத்துடன் தன்னார்வத்தை கலந்திட்ட ஒரு மென்பொருள் கவிதை என்றே கூறலாம். இந்த வடிவமைப்பால், வாசகர்கள் இந்த தளத்தில் வந்து வாசித்து மட்டும் செல்லாமல், அவர்களை யோசிக்கவும் செய்து, அவர்களின் சிந்தனைச் சிதறல்களை பதிவும் செய்து, பின்வரும் வாசகர்களுக்கு மென்மேலும் சிறந்த கருத்துக்களை பல கோணங்களில் படைத்திட இயல்கிறது.
  %p
    ஆத்தி்சூடி மற்றும் அதன் பொருள் தேடி வரும் வாசகர்கள், எவ்வித தங்கு தடையுமின்றி எளிய முறையில் இந்த இணைய தளத்தில் பயணிக்கலாம். தாம் வாசித்த பகுதியை மேலும் மெருகேற்ற எண்ணும் தமிழ் ஆர்வலர்கள், தம்மைப்பற்றி பதிவு செய்துகொண்டு, தம்மால் திருத்தப்பட்ட பகுதியையும் பதிவு செய்யலாம். இவ்வாறு திருத்தி சீரமைக்கப்பட்ட பகுதிகள் தளப் பொறுப்பாளர்களின் ஒப்புதலோடு வாசகர்களின் பங்களிப்பாக பிரசுரிக்கப்படும். மேலும், வாசகர்கள் தாம் பயணித்த பகுதியைப் பற்றிய கருத்துக்களையும் விமர்சனங்களையும் பதிவு செய்யலாம்.  இவ்வாறு வாசகர்களின் பங்களிப்பின்மூலம் ஆத்தி்சூடியுடன் கருத்தாழம்மிக்க விளக்கங்களையும் விவாதங்களையும் விருந்தளிப்பதே இந்த இணைய தளத்தின் தலையாய நோக்கமாகும். இந்த நோக்கம் நிறைவேற வாசகர்களாகிய தாங்கள், தங்களின் கருத்துக்களை மறவாது பதிவு செய்யுமாறு கேட்டுக்கொள்கிறோம்.