<!-- Microsoft Indic Language Input Tool embed code -->
%input{:type => "hidden", :id  => "MicrosoftILITWebEmbedInfo", :attachMode => "optout", :value => ""}
%script{:type => "text/javascript", :src => "http://ilit.microsoft.com/bookmarklet/script/Tamil.js", :defer => "defer"}

