%span.title_photo
  %img.title_profile_photo{:src => "#{user.photo || '/images/default_photo.png' }"}
.user_details
  %ul
    %li
      %b
        = user.name
    %li
      ஒப்புவித்த திருத்தங்கள்:
      = user.accepted_count
